body{
    background-image: url(../1.jpg);
}
img{
    width: 100%;
}
h1{
    text-align: center;
}

span {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

span:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}

.round {
  border-radius: 50%;
}