h1{
    text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  text-align: center;
  top: 10%;
  width: 5%;
  padding: 350px;
  margin-top: -150px;
  color: black;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  padding-left: 150px;
}

.next {
  right: 0;
  padding-right: 150px;
  border-radius: 3px 0 0 3px;
}