body{
    background-color: aqua;
}
h1{
    text-align: center;
}

.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#btn1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
}